---
import Layout from '../layouts/Layout.astro';
---

<Layout title="GitPad">
	<div class="min-h-screen max-w-screen-lg mx-auto p-4 sm:py-44">
		<svg class="fill-[#e6edf3] h-24 max-w-full mx-auto" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 127.6" enable-background="new 0 0 512 127.6" xml:space="preserve">
			<path d="M0,52.7l29.5,49.1h58.9V42.9L39.3,13.5L0,52.7z M76.5,49.6v31.9L62.2,67.2c1.8-4.9,0.7-10.6-3.3-14.5
				c-5.4-5.4-14.2-5.4-19.6,0c-5.4,5.4-5.4,14.2,0,19.6c3.9,3.9,9.6,5,14.5,3.3l14.3,14.3H36.2L16,56.3l26.9-26.9L76.5,49.6z"/>
			<path d="M157.5,32.3h17.8v95.3H108v-16.2h49.5V91c-5.9,6.9-13.4,10.4-22.4,10.4c-9.6,0-17.7-3.4-24.2-10.1
				c-6.5-6.8-9.7-15.2-9.7-25.3c0-10,3.2-18.3,9.7-25.1c6.5-6.8,14.5-10.1,24.2-10.1c9.1,0,16.6,3.5,22.4,10.4V32.3z M138.5,85.2
				c5.5,0,10.1-1.8,13.7-5.5c3.6-3.7,5.4-8.3,5.4-13.8c0-5.5-1.8-10-5.4-13.7c-3.6-3.7-8.1-5.5-13.6-5.5c-5.5,0-10,1.8-13.6,5.5
				c-3.6,3.7-5.5,8.2-5.5,13.7c0,5.5,1.8,10.2,5.5,13.8C128.5,83.4,133.1,85.2,138.5,85.2z"/>
			<path d="M208.9,18.9c-2.1,2.1-4.8,3.2-8,3.2c-3.2,0-5.9-1.1-8-3.2c-2.1-2.1-3.2-4.7-3.2-7.8c0-3.1,1.1-5.7,3.2-7.8
				c2.1-2.1,4.8-3.2,8-3.2c3.2,0,5.9,1.1,8,3.2c2.1,2.1,3.2,4.7,3.2,7.8C212.1,14.1,211.1,16.8,208.9,18.9z M192.1,101.7V32.3h17.7
				v69.4H192.1z"/>
			<path d="M269,48.5h-17.2v37H269v16.2h-34.8V48.5h-12.6V32.3h12.6V11.8h17.7v20.5H269V48.5z"/>
			<path d="M322.2,30.7c9.6,0,17.7,3.5,24.1,10.4C352.8,48,356,56.6,356,67s-3.2,19-9.7,26c-6.4,7-14.5,10.4-24.1,10.4
				c-9.3,0-16.8-3.6-22.6-10.8v35h-17.7V32.3h17.7v9.1C305.4,34.2,313,30.7,322.2,30.7z M305.1,80.7c3.6,3.7,8.2,5.5,13.6,5.5
				c5.5,0,10-1.8,13.6-5.5c3.6-3.7,5.5-8.2,5.5-13.7c0-5.5-1.8-10-5.5-13.7c-3.6-3.7-8.2-5.5-13.6-5.5c-5.5,0-10,1.8-13.6,5.5
				c-3.6,3.7-5.5,8.2-5.5,13.7C299.6,72.5,301.4,77,305.1,80.7z"/>
			<path d="M423.8,85.6h8v16.1h-23.7v-7c-4.8,5.8-11.5,8.7-19.9,8.7c-7,0-12.9-2.2-17.6-6.6c-4.7-4.4-7.1-9.8-7.1-16.3
				c0-6.5,2.4-11.9,7.1-16.3c4.7-4.3,10.6-6.5,17.6-6.5h17.8v-9h-37.6V32.3h55.3V85.6z M392.3,89.2c4.1,0,7.4-0.9,9.9-2.7
				c2.5-1.8,3.8-4.2,3.8-7.1v-8h-13.8c-3,0-5.5,0.8-7.5,2.5c-2,1.7-3,3.8-3,6.3c0,2.6,1,4.7,3,6.4S389.3,89.2,392.3,89.2z"/>
			<path d="M494.3,3.7H512v98.1h-17.7v-9.1c-5.8,7.2-13.3,10.8-22.6,10.8c-9.6,0-17.7-3.5-24.2-10.4c-6.5-7-9.7-15.6-9.7-26
				s3.2-19,9.7-25.9c6.5-6.9,14.5-10.4,24.2-10.4c9.3,0,16.8,3.6,22.6,10.8V3.7z M475.1,86.2c5.5,0,10.1-1.8,13.8-5.5
				c3.6-3.7,5.5-8.2,5.5-13.7c0-5.5-1.8-10-5.5-13.7c-3.6-3.7-8.2-5.5-13.8-5.5c-5.5,0-10,1.8-13.6,5.5C457.8,57,456,61.6,456,67
				c0,5.5,1.8,10,5.5,13.7C465.1,84.4,469.6,86.2,475.1,86.2z"/>
		</svg>
		<h3 class="text-lg sm:text-2xl font-bold mt-6 text-center">Write and share notes with version control!</h3>
		<form id="redirectForm" class="mt-12 flex justify-center flex-grow">
			<div class="w-full max-w-3xl flex justify-center text-lg items-center transition-all outline-2 has-[input:focus]:bg-[#0d1117] placeholder:text-[#484f58] py-[5px] px-[12px] pr-[5px] bg-[#161b22] outline-none has-[input:focus]:outline-[#1f6feb] outline-offset-[-1px] rounded-md border has-[input:focus]:border-[#1f6feb] border-[#30363d]">
				<p class="whitespace-nowrap flex-shrink-0">gitpad-pages/</p>
				<input name="slug" class="bg-transparent outline-none flex-grow min-w-4" placeholder="your-page">
				<button id="submitBtn" class="flex-shrink-0 ml-1 text-white transition-all focus:ring outline-none h-8 px-3 rounded-md border border-[#f0f6fc1a] text-sm font-medium bg-[#1f6feb]">
					Write
				</button>
			</div>
		</form>
		<div class="grid sm:grid-cols-2 mt-12 sm:mt-32 gap-8 sm:gap-28">
			<div>
				<h3 class="text-lg sm:text-2xl font-bold">Sharing notes with GitPad is easy!</h3>
				<p class="text-[#848d97] mt-4">Go to any page using the field above or enter the address directly in your browser. Write your note and save it by clicking "Commit changes". You can also add your name for future reference.</p>
			</div>
			<div>
				<h3 class="text-lg sm:text-2xl font-bold underline">No secrets!</h3>
				<p class="text-[#848d97] mt-4">All notes and their commit history are public and can be viewed by anyone, so don't write down anything too important.</p>
			</div>
		</div>
	</div>
</Layout>
<script>
	const redirectForm = document.getElementById("redirectForm") as HTMLFormElement;
	redirectForm.addEventListener("submit", (e) => {
		e.preventDefault();
		const { slug } = Object.fromEntries(new FormData(redirectForm));
		window.location.assign(`${window.location.origin}/${slug}`);
	})
</script>
